<html>
  <body>
    <style>
       h1{
           background-color: red;
       }
       body
       {
           background-color: pink;
       }
       img
       {
           width: 100px;
           height: auto;
       }
       
       </style>
  </body>
  </html>
